

<div class="container">
  <p>
    <%= link_to 'Envie sua Historia Agora', new_story_path, class: "btn btn-primary" %>

  </p>

  <div class="row">
    <div class="col-md-8">
      <% @stories.each do |story| %>
      <div class="well">
        <%= story.body %>
        <br>
        <br>
        <%= link_to 'Caraca! Que Historia Incrível', like_story_path(story), method: :put, class: "btn btn-success btn-xs" %><span class="text-success">( <%= story.get_upvotes.size %> )</span>
        <%= link_to 'Acho que é Mentira!', dislike_story_path(story), method: :put, class: "btn btn-warning btn-xs" %>
        <span class="text-success"> ( <%= story.get_downvotes.size %> )</span>

        <a href="#" class="btn btn-link btn-xs">Comentarios</a><small><em>(330)</em></small>
        <br>
        <p>
          <small class="text-muted pull-left" style="margin-top: 15px;"> Criado por: <%= story.user.name %> na <%= story.created_at.strftime('%A, %e %B %Y') %></small>
        </p>

        <br>
      </div>
      <% end %>
    </div>
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading text-center">Categorias</div>
          <div class="list-group">
            <% Category.all.each do |category| %>
            <li class="list-group-item">
              <%= link_to category.name %>

            </li>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
